%h1 Profile of #{@user.username}
- if user_signed_in? && current_user.id != @user.id
  -if Subscription.where(:user_id => current_user.id, :profile => @user.id).empty?
    %h2 - #{link_to 'Subscribe', subscribe_profile_path(@user.username)}
  - elsif Subscription.where(:user_id => current_user.id, :profile => @user.id)
    %h2 - #{link_to 'Unsubscribe', unsubscribe_profile_path(@user.username)}
  
= render 'messages/form' if user_signed_in?
%ol
  - @messages.each do |message|
    %li
      %span.meta
        - if message.user_id == @user.id
          Author: #{link_to @user.username, profile_path(@user.username)} // Date: #{message.created_at}
        - else
          Author: #{link_to message.user.username, profile_path(message.user.username)} // Date: #{message.created_at}
      %p= message.text
      %span.actions
        = link_to 'Delete', message, :confirm => 'Are you sure?', :method => :delete if user_signed_in? && message.user_id == current_user.id