!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %meta{:name => "description", :content => "Twitter-like rails application to qualify "}/
    %meta{:name => "author", :content => "Gerrit Wanderer"}/
    %title Gewitter
    = stylesheet_link_tag("compiled/screen.css")
    = stylesheet_link_tag("compiled/#{controller.controller_name}") if File.exist?("tmp/stylesheets/compiled/#{controller.controller_name}.css")
    = javascript_include_tag :defaults
    = csrf_meta_tag
  %body
    #container
      %header
        .container#flash
          - flash.each do |key, value|
            %div{:class => key}= value
      #main
        = yield
      %footer